.advantage {
    background-color: #F6F6F6;
    padding: 70px 0px 70px;
    &__wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 270px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            text-decoration: underline;
            text-transform: uppercase;
            color: #FF0000;
        }
        img {
            margin-bottom: 30px;
            margin-top: 30px;
        }
        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            color: #0D0D0D;
        }
        &_animated {
            img {
              animation: heartbeat 1.5s ease infinite;
              /* animation-name: heartbeat;
              animation-duration: 1.5s;
              animation-timing-function: ease;
              animation-iteration-count: infinite; */
            }
            :hover {
                animation-play-state: paused;
              }
        }

        &_rotated {
            img {
                animation: rotateicon 1.5s ease infinite;
            }
            :hover {
                animation-play-state: paused;
              }
        }

        &_moved {
            img {
                animation: cup 1.5s linear infinite;
            }
            :hover {
                animation-play-state: paused;
              }
        }
    

    }
}
