.carousel {
    padding: 108px 0;
    &__inner {
        position: relative;
        /* width: 750px; */
        margin: 0 auto;
    }
    .prev, .next {
        border: none;
        background: none;
        position: absolute;
        top: 50%;
        left: 22px;
        transform: translateY(-50%);
        img {
            width: 31px;
            height: 50px;
        }

    }
    .next {
        left: auto;
        right: 22px;
        img {
            width: 30px;
            height: 50px;
        }
    }
}

.tns-item {
    img {
        display: block;
        margin: 0 auto;
        /* width: 400px; */
    }
}

/* .tns-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tns-nav {
        order: 1;
        button {
            background-color: #0d0d0d;
            border: none;
            width: 10px;
            height: 10px;
            margin: 0 4px;
        }
        .tns-nav-active {
            background-color: #c70101;
        }
    }

} */



