.catalog {
    padding: 0 0 70px;
    &__tabs {
        margin-top: 50px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding-left: 0;;
    }
    &__tab {
        width: 222px;
        height: 52px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        margin: 0 5px;

        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        color: #6B6B6B;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 0px 10px 10px hsla(0, 0.00%, 0.00%, 0.20);
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background-color: $main-color;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 303px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 26px;
        overflow: hidden;
        margin-bottom: 20px;
        img {
            display: block;
            margin: 0 auto;
            object-fit: contain;
            width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            color: #0D0D0D
        }
        &__link {
            display: block;
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin-top: 17px;
            margin-bottom: 21px;
            border: 1px solid #E8E8E8;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
            font-weight: 900;
            font-size: 20px;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-left: 19px;
            margin-bottom: 0px;
            list-style-type: none;
            transition: 0.5s all;
            li {
                position: relative;
                font-weight: 300;
                font-size: 14px;
                color: #555555;
                margin-bottom: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    left: -14px;
                    top: 7px;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                }
            }
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
                padding-right: 20px;
            }
        }
        &__back {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }
    }
}