.pageup {
    display: none;
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 2px #fff solid;
    border-radius: 50%;
    img {
        width: 100%;
    }


}